
<div class="parent">
    <div class="div1">1</div> <!-- 사이드바 (본인 이름, 이메일, 전화번호, 주소, 깃허브 링크, 자격사항, 어학사항, 기술스택) -->
    <div class="div2">2</div> <!-- 헤더 (본인 직무, 소개글)-->
    <div class="div3">3</div> <!-- 학력사항 (학교명, 전공, 졸업여부)-->
    <div class="div4">4</div> <!-- 학력기간 (기간)-->
    <div class="div5">5</div> <!-- 경력사항 (회사명, 직무, 기간)-->
    <div class="div6">6</div> <!-- 경력기간 (기간)-->
    <div class="div7">7</div> <!-- 프로젝트사항 (프로젝트명, 프로젝트 기간)-->
    <div class="div8">8</div> <!-- 프로젝트기간 (기간)-->
</div>
    